.post-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.post-container h2 {
  margin-bottom: 20px;
}

.post-container input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.post-container button {
  padding: 12px 20px;
  border: none;
  background: #1976d2;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
.home-link {
  text-align: center;
  margin-top: 20px;
}

.home-link a {
  text-decoration: none;
  color: #2563eb;
  font-weight: bold;
  padding: 8px 16px;
  border: 2px solid #2563eb;
  border-radius: 8px;
  transition: 0.3s;
  display: inline-block;
}

.home-link a:hover {
  background: #2563eb;
  color: white;
}
